* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #282828;
    --secondary-color: #202020;
    --tertairy-color: #747474;
    --fourth-color: #17fb02;
    --fifth-color: #fd03be;
    --sixth-color: #ffb510;
    --border-clock: 6px 6px 0 0;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    align-items: center;
}
.clock {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/images/clock.png");
    background-size: cover;
    box-shadow: inset 10px 10px 15px var(--secondary-color),
    inset -10px -10px 15px var(--secondary-color);
}
.clock::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 4;
    background: var(--tertairy-color);
}
.clock .hour,
.clock .min ,
.clock .sec {
    position: absolute;
    display: flex;
    justify-content: center;
}
.clock .hour{
    width: 160px;
    height: 160px;
}
.clock .min{
    width: 190px;
    height: 190px;
}
.clock .sec{
    width: 230px;
    height: 230px;
}
.hour::before{
    content: "";
    position: absolute;
    width: 8px;
    height: 80px;
    background: var(--sixth-color);
    z-index: 1;
    border-radius: var(--border-clock);
}
.min::before{
    content: "";
    position: absolute;
    width: 4px;
    height: 90px;
    background: var(--fifth-color);
    z-index: 2;
    border-radius: var(--border-clock);
}
.sec::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 150px;
    background: var(--fourth-color);
    border-radius: var(--border-clock);
    z-index: 3;
}
